body {
    min-height: 100vh;
    font-size: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    border: 5px solid blue;
    padding: 30px;
}